@@ -9,7 +9,12 @@
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.UIElements2">
<activity android:name=".AlbumSongFormAdd"></activity>
<activity android:name=".AlbumFormEdit" />
<activity android:name=".AlbumFormAdd" />
<activity android:name=".SongFormAdd" />
<activity android:name=".SongFormEdit" />
<activity android:name=".AlbumDetailsActivity" />
<activity android:name=".AlbumActivity" />
<activity android:name=".QueueActivity" />
<activity android:name=".MainActivity">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
    </application>
    </manifest>